.rli-wrapper {
  position: relative;

  .rli-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
  }

  .rli-placeholder {
    background: #ccc;
    display: block;

    .moon, .mountain {
      fill: #ddd;
    }
  }
}

